.title-wrap {
    display: table;
    width:100%;
    float:left;
    vertical-align: bottom;
    padding-left: 5%;
    padding-bottom: 20%;
}

.main-title {
    display: table-cell;
    width:20%;
    vertical-align: bottom;
    padding-right: 5%;
    background: rgba(0,0,0,0.5);
}

.main-subtitle p{
    margin-top: -8px;
    background: rgba(0,0,0,0.5);
}

.main-subtitle a{
/*    border: solid;
    border-width: 1px;*/
    background-color: #337ab7;
}

.main-subtitle a:hover{
    background-color: rgba(255,255,255,0.2);
}

.main-subtitle {
    display: table-cell;
    width:50%;
    vertical-align: bottom;
}

.text-vertical-center {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.text-vertical-center h2 {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.5);
}

.logos {
	position: absolute;
	padding-left: 5%;
	padding-top: 1.5%;
}

.logos img{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.passes {
    padding: 50px 0;
}

.day-title{
	display: table;
	border-spacing: 15px;
	margin: 0 auto;
}

.day-title h1{
	display: table-cell;
	font-size: 8em;
	vertical-align: bottom;
}

.day-subtitle {
	display: table-cell;
	vertical-align: bottom;
}

.consent-box{
	border-style: dotted;
	border-color: white;
	border-width: 3px;
	padding: 20px;
	text-align: left;
}

.consent-box a{
	color: white;
	border-bottom: 1px white dotted;
}

.consent-box input{
	margin-right: 10px;
}

.white-icons{
	color: white;
}

#input_email {
	background: transparent none repeat scroll 0% 0%;
	border: 2px solid white;
	line-height: 30px;
	font-size: 18px;
}

#submit_email {
	padding: 7px 5px;
	border: 1px solid white;
	background: white;
	color: #337ab7;
	border-left: 3px solid #337ab7;
}

/*.fa-calendar-o:hover:before {
  content: "\f274"
}*/

.calendar-hover:hover .fa-calendar-o:before {
  content: "\f274"
}

@media(max-width:1050px) {
	.text-vertical-center h1 {
	    font-size: 3em;
	}
	.main-title {
	    width:15%;
	}
	.text-vertical-center h2 {
	    font-size: 1.5em;
	}
	.main-subtitle a{
	    font-size: 1em;
	}
	.logos img{
		width: 50%;
	}
}

@media(max-width:750px) {
	.main-title {
	    display: block;
	}
	.main-subtitle {
	    display: block;
	}
	.logos{
		display: none;
	}
	.day-title{
		display: block;
	}

	.day-title h1{
		display: block;
		font-size: 6em;
	}

	.day-subtitle {
		display: block;
	}

	.consent-buttons a{
		margin-bottom: 20px;
	}

}